body {
  font: 12px sans-serif;
  color: red;
}

#vis, #header-container {
  width: 800px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  max-width:  100px; /* scale proportionally */
  max-height: 100px;
  width:  auto;
  height: auto;
  margin: auto;
  display: block;
}

#header {
  width: 600px;
  padding: 20px;
  font-size: 12px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#header h2 {
  color: red;
}

.emph {
  font-weight: bold;
}

.axis path,
.axis line {
  fill:   none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line, .norm-avg {
  fill: none;
}

line.zero, .avg {
  stroke: red;
  stroke-width: 2px;
}

.avg-val {
  font-size: 10px;
  font-weight: bold;
  fill: red;
}

.mvavg {
  stroke-width: 2px;
  stroke-dasharray: 4,2;
  stroke: black;
  shape-rendering: crispEdges;
}

.norm-avg {
  cursor: pointer;
  stroke-width: 1.5px;
  stroke: black;
  opacity: 0.6;
}

.bar {
  /* fill is random */
  stroke: white;
}
.bar:hover {
  fill: white;
  stroke: black;
}

div.small-multiple {
  display: inline-block;
  background-color: #EEE;
  margin: 10px;
}

text.business-name {
  fill: red;
  font-weight: bold;
}

.n-ct {
  fill: black;
  stroke: none;
}

.small-multiple-container,
.slider-container,
.meta {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.meta .label {
  font-size: 15px;
  fill: red;
}

.label {
  font-weight: bold;
}

.small-multiple text.x.label,
.small-multiple text.y.label{
  font-weight: normal;
}

.axis .slide {
  fill: none;
  stroke: #DDD;
  stroke-width: 3px;
  stroke-linecap: round;
}

.sliderHandle {
  fill: #EEE;
  stroke: red;
  cursor: pointer;
}

.slider {
  cursor: pointer;
}

.meta .title {
  font-size: 15px;
  fill: red;
}
