body {
  font: 11px sans-serif;
  color: red;
}

#vis {
  width: 800px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.axis path,
.axis line {
  fill:   none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line, .meta-line {
  fill: none;
}

line.zero {
  stroke: red;
  stroke-width: 2px;
}

.avg-val {
  font-size: 10px;
  font-weight: bold;
  fill: red;
}

.mvavg {
  stroke-width: 2px;
  stroke-dasharray: 4,2;
  stroke: black;
}

.meta-line {
  stroke-width: 2px;
  stroke: black;
  opacity: 0.4;
}

.bar {
  /* fill is random */
  stroke: white;
}
.bar:hover {
  fill: white;
  stroke: black;
}

div.small-multiple {
  display: inline-block;
  background-color: #EEE;
  border: 1px solid red;
  margin: 10px;
}

.name-label {
  font-weight: bold;
  fill: red;
}

.n-ct {
  fill: black;
  stroke: none;
}

.small-multiple-container,
.meta {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.meta-label {
  font-weight: bold;
  size: 13px;
  fill: red;
}

.label {
  font-weight: bold;
}

.meta-dot {
  opacity: 0.9;
}

.meta-line {
}
